<html>
<center>
<img src="./images/INEDIT_OASIS_-_STOP_CRYING_YOUR_HEART_OUT_live_great_version.gif" />
</a>
  <h1 style="color: brown"> FIGURE SECTION </h1>
  <p>  
	I borrowed alot of resources and used it with my own knowledge, not all codes are mine!

</html>