<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <title>Testing</title>
    </head>
    <body>
        <form action="/insert" method="POST">
            Product Name<input type="text" name="productName">
            <br>
            Price<input type="text" name="price" id="">
            <br>
            Added Date<input type="datetime-local" name="ImportedDate" id="">
            <br>
            Clothes<input type="text" name="outfit" id="">
            <br>
            <input type="submit" value="Insert">
        </form>
    </body>
</html>